<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mit.teamnull.mapper.ItemMapper">
<!-- item_code, item_name, item_material, item_stand, item_product, item_draw -->
	<select id="insert">
   <![CDATA[
      INSERT INTO item VALUES (UPPER(#{item_code}),#{item_name},#{item_material},#{item_stand},#{item_product},#{item_draw})
   ]]>
	</select>
	
	<select id="getItem" resultType="mit.teamnull.domain.ItemVO">
   <![CDATA[
      SELECT * FROM item WHERE item_code = UPPER(#{item_code})
   ]]>
	</select>
	
	
	<select id="update">
		UPDATE item
		SET
		item_name = #{item_name},
		item_material = #{item_material},
		item_stand = #{item_stand},
		item_product = #{item_product},
		item_draw = #{item_draw}
		WHERE item_code = #{item_code}
	</select>
	
	<select id="checkOverlap" resultType="_int">
		SELECT COUNT (*) FROM item 
		WHERE item_code = #{item_code}
	</select>
	
	<select id="countName" resultType="_int">
		SELECT COUNT (*) FROM item 
		WHERE item_name = #{item_name}
	</select>
	
	<select id="search" resultType="mit.teamnull.domain.ItemVO">
		SELECT * FROM item WHERE item_code LIKE UPPER('%'||#{item_code}||'%')
	</select>
	
	
<!-- 	<select id="verification" resultType="mit.teamnull.domain.ItemVO">
	   <![CDATA[
	      SELECT * FROM item WHERE item_code = (#{item_code})
	   ]]>
	</select> -->
	
	<select id="autoItem_code" resultType="string">
		SELECT item_code 
		FROM item
		WHERE ROWNUM &lt; = 4
		AND item_code LIKE UPPER(#{item_code})||'%'
	</select>
	<select id="autoItem_name" resultType="string">
		SELECT DISTINCT item_name 
		FROM item
		WHERE ROWNUM &lt; = 4
		AND item_name LIKE UPPER(#{item_name})||'%'
	</select>
	<select id="autoItem_material" resultType="string">
		SELECT DISTINCT item_material 
		FROM item
		WHERE ROWNUM &lt; = 4
		AND item_material LIKE UPPER(#{item_material})||'%'
	</select>
	<select id="autoItem_stand" resultType="string">
		SELECT DISTINCT item_stand 
		FROM item
		WHERE ROWNUM &lt; = 4
		AND item_stand LIKE UPPER(#{item_stand})||'%'
	</select>
	<select id="autoItem_product" resultType="string">
		SELECT DISTINCT item_product 
		FROM item
		WHERE ROWNUM &lt; = 4
		AND item_product LIKE UPPER(#{item_product})||'%'
	</select>
	
</mapper>