<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mit.teamnull.mapper.PurchaseMapper">
<!-- order_code cont_code item_code item_mrp item_require item_prodate item_due order_date -->
	<select id="insert">
   <![CDATA[
		UPDATE order_info
		SET
		item_due = #{item_due},
		order_date = #{order_date}
		WHERE order_code = #{order_code}
   ]]>
	</select>
	
	<select id="verification" resultType="mit.teamnull.domain.PurchaseVO">
   <![CDATA[
	SELECT order_info.order_code, order_info.cont_code, contract.item_code,
	    item_mrp, item_require, item_prodate, item_due, order_date,
	    item.item_name, item.item_material, item.item_stand,
	    contract.supply_price,
		partner.part_name, partner.part_number, partner.part_status, partner.part_address,
	    partner.part_contact, partner.part_rep, partner.part_manager
	FROM item,partner,order_info,contract
	WHERE contract.part_name = partner.part_name
		AND item.item_code = contract.item_code
		AND order_info.cont_code = contract.cont_code
		AND order_code=#{order_code}
   ]]>
	</select>
	
	<select id="update">
		UPDATE order_info
		SET
		item_due = #{item_due},
		order_date = #{order_date}
		WHERE order_code = #{order_code}
	</select>
	
	<select id="checkOverlap" resultType="_int">
		SELECT COUNT (*) FROM order_info
		WHERE order_code = #{order_code}
	</select>
	
	<select id="search" resultType="mit.teamnull.domain.PurchaseVO">
		SELECT od.order_code,od.cont_code,
		    co.part_name,co.item_code,it.item_name,item_mrp,
		    item_require,item_prodate,item_due
		FROM item it,order_info od,contract co
		WHERE co.item_code=it.item_code
		    AND od.cont_code=co.cont_code
		    AND order_code LIKE UPPER('%'||#{order_code}||'%')
	</select>
	
	<select id="pullInfo" resultType="mit.teamnull.domain.PurchaseVO">
	SELECT order_info.order_code, order_info.cont_code, contract.item_code,
	    item_mrp, item_require, item_prodate, item_due, order_date,
	    item.item_name, item.item_material, item.item_stand,
	    contract.supply_price,
		partner.part_name, partner.part_number, partner.part_status, partner.part_address,
	    partner.part_contact, partner.part_rep, partner.part_manager
	FROM item,partner,order_info,contract
	WHERE contract.part_name = partner.part_name
		AND item.item_code = contract.item_code
		AND order_info.cont_code = contract.cont_code
		AND order_code=#{order_code}
	</select>
	
	
	<select id="purchaseOrder" resultType="mit.teamnull.domain.PurchaseVO">
	SELECT order_info.order_code, order_info.cont_code, contract.item_code,
	    item_mrp, item_require, item_prodate, item_due, order_date,
	    item.item_name, item.item_material, item.item_stand,
	    contract.supply_price,
		partner.part_name, partner.part_number, partner.part_status, partner.part_address,
	    partner.part_contact, partner.part_rep, partner.part_manager
	FROM item,partner,order_info,contract
	WHERE contract.part_name = partner.part_name
		AND item.item_code = contract.item_code
		AND order_info.cont_code = contract.cont_code
		AND order_code=#{order_code}
	</select>
	
	
	
	<select id="autoOrder_code" resultType="string">
		SELECT DISTINCT order_code
		FROM order_info
		WHERE ROWNUM &lt; = 4
		    AND order_code LIKE UPPER(#{order_code})||'%'
	</select>
</mapper>