header {
	height: 180px;
	position: sticky;
	top: 0;
	opacity: 0.8;
	backdrop-filter: blur(30px);
	background: black;
	color: white;
	padding-left: 32px;
	padding-right: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	padding: 32px;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin-left: 16px;
	font-size: 18px;
	font-weight: bold;
}

li a {
	color: #FFFFFF;
	text-align: center;
	padding: 14.5px 16px;
	text-decoration: none;
}

li a:hover {
	/*color: #597812;*/
	color: #FFD400;
	font-weight: normal;
}

html {
	height: 200%;
	line-height: 1.6;
}